<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hunted</title>
    <!-- Socket.io -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous"></script>
    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script src="{{ url_for('static', filename='Leaflet.MakiMarkers.js') }}"></script>
    <!-- Moment -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
            integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <style>
        body {
            margin: 0;
            display: flex;
            flex-direction: column;
            height: 100vh;
            font-family: sans-serif;
        }

        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 2px;
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        main {
            flex-grow: 1;
            display: flex;
        }

        #map {
            flex-grow: 1;
        }

        #sidebar {
            display: flex;
            flex-direction: column;
        }

        #legend {
            display: flex;
            flex-direction: column;
        }

        #legend .legend-item {
            display: flex;
            align-items: center;
        }

        #legend .legend-item .colour {
            width: 25px;
            height: 25px;
            margin-right: 2px;
        }

        #admin-settings {
            margin-top: 50px;
            min-width: 350px;
            width: 20vw;
        }

        .admin-settings {
            margin-bottom: 10px;
        }

        .hidden {
            display: none;
        }

        #teams {
            display: flex;
            flex-direction: column;
        }

        #points-value {
            width: 30px;
        }

        .small {
            font-size: 0.8em;
            width: 150px;
        }
    </style>
</head>
<body>
<header>
    <h1>Hunted{% if current_user.is_admin() %} ADMIN{% endif %}</h1>
    <h2 class="hidden">Laatste update: <span id="last_update">00:00</span> geleden</h2>
</header>
<main>
    <div id="map"></div>
    <div id="sidebar">
        <h3>Legend:</h3>
        <div id="legend">
            <div class="legend-item">
                <div class="colour" style="background-color: #ff0000"></div>
                <span>Huntees (<span id="count">0</span> left)</span>
            </div>
            <div class="legend-item">
                <div class="colour" style="background-color: #ff9898"></div>
                <span class="small">Huntees with skipped location update</span>
            </div>
        </div>
        {% if current_user.is_admin() %}
            <div id="admin-settings">
                <div class="admin-settings">
                    <label>
                        Location update (seconds)
                        <input type="number" min="0" style="width: 50px" id="interval">
                    </label>
                    <button onclick="update_interval()">Update</button>
                    <span class="hidden" id="interval-update">Update interval updated!</span>
                </div>
                <div class="admin-settings">
                    <label>
                        Kill user:
                        <select id="kill-list">
                        </select>
                    </label>
                    <button onclick="kill()">Kill</button>
                </div>
                <div class="admin-settings">
                    <label>
                        Skip user location:
                        <select id="skip-list">
                        </select>
                    </label>
                    <button onclick="skip_update()">Skip</button>
                    <span class="hidden" id="skip-update">Location update of <span id="skip-update-name"></span> will be skipped!</span>
                </div>
                <div class="admin-settings">
                    <h4>Teams: <button onclick="get_teams()">Refresh</button></h4>
                    <div id="teams">

                    </div>
                    <label>
                        <br/>Add points:<br/>
                        <select id="points-list">
                        </select>
                    </label>
                    <input type="number" value="0" id="points-value">
                    <button onclick="addPoints()">Add</button>
                </div>
            </div>
        {% endif %}
    </div>
</main>
<script>
    const TOKEN = 'pk.eyJ1IjoiZGF2dm9zMTEiLCJhIjoiY2t6aDV4eDJ6MTZ6bDJwbnJtd3o2dTg5YyJ9.X6wNGp1VG0Zkr3xUwHYNeg'

    // Draw the map
    const map = L.map('map').setView([52.22, 6.89], 14)

    {# TODO restrict mapbox access token to url #}
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: TOKEN
    }).addTo(map);

    // Add marker plugin
    L.MakiMarkers.accessToken = TOKEN

    const markers = {}
    const hunters = {}
    let last_update = 0

    const hunteeIcon = L.MakiMarkers.icon({icon: "marker", color: "#ff0000", size: "m"})
    const hunteeIconSkipped = L.MakiMarkers.icon({icon: "marker", color: "#ff9898", size: "m"})
    const hunterIcons = ["#2fd095", "#bcd130", "#FFBF00", "#4630d1", "#088A08", "#000038", "#B404AE"]
        .map(color => L.MakiMarkers.icon({icon: "car", color, size: "m"}))

    const setMarker = (id, lat, long, hunter, name) => {
        // If this marker was already added, move it
        if (markers.hasOwnProperty(id)) {
            markers[id].setLatLng([lat, long])
            if (!hunter) {
                // Explicitly set the icon to the huntee icon (it might have changed to the skipped icon)
                markers[id].setIcon(hunteeIcon)
            }
        } else {
            let marker;
            if (hunter) {
                // Save the name of the hunter and get the index to generate the colour
                hunters[id] = name
                const index = Object.keys(hunters).indexOf(id.toString())
                const icon = hunterIcons[index]
                // Add the marker
                marker = L.marker([lat, long], {icon}).addTo(map)
                marker.bindPopup(`<b>Hunter(s):</b> ${name}`)
                // Add to the legend
                addToLegend(name, '#' + icon.options.color)
            } else {
                marker = L.marker([lat, long], {icon: hunteeIcon}).addTo(map)
                marker.bindPopup(`<b>Huntee(s):</b> id ${id}`)
            }

            markers[id] = marker
        }
    }

    const updateLocations = (locations, json = false) => {
        for (let location of locations) {
            if (json)
                location = JSON.parse(location)
            console.log(location)
            setMarker(location.id, location.lat, location.long, location.hunter, location.name)
        }
    }

    const removeLocation = (id) => {
        map.removeLayer(markers[id])
    }

    const addToLegend = (name, colour) => {
        document.getElementById("legend").innerHTML +=
            `<div class="legend-item">
                <div class="colour" style="background-color: ${colour}"></div><span>${name}</span>
            </div>`
    }

    const setSkipped = (skipIds) => {
        for (const skippedId of skipIds) {
            if (markers[skippedId].options.icon === hunteeIcon) {
                markers[skippedId].setIcon(hunteeIconSkipped)
            }
        }
    }

    // Get the last positions
    fetch("/api/locations").then(async res => {
        const result = await res.json()
        console.log(result)
        updateLocations(result["locations"])
        if (result["skipped"])
            setSkipped(result["skipped"])
    })

    // Connect to the websocket
    const socket = io.connect("/")

    socket.on("locations", locs => updateLocations(locs, true))
    socket.on("last_update", timestamp => last_update = timestamp)
    socket.on("alive", count => document.getElementById("count").innerText = count)
    socket.on("kill", (id) => {
        removeLocation(id)
        {% if current_user.is_admin() %}
            update_huntees()
        {% endif %}
    })
    socket.on("skipped", setSkipped)

    const zeroPad = (number) => {
        if (number < 10) {
            return "0" + number
        } else {
            return number
        }
    }

    // Update the time since the last update
    setInterval(() => {
        const diff = moment.duration(moment().diff(moment(last_update)))
        if (!diff._isValid) {
            return
        }
        const minutes = zeroPad(Math.floor(diff.asMinutes()))
        const seconds = zeroPad(Math.floor(diff.asSeconds() % 60))
        document.getElementById("last_update").innerText =
            `${minutes}:${seconds}`
        document.getElementById("last_update").parentElement.classList.remove("hidden")
    }, 1000)

    {% if current_user.is_admin() %}
        const removeChildren = (parent) => {
            while (parent.firstChild) {
                    parent.removeChild(parent.firstChild)
                }
        }


        // Get a list of users and add the huntees to the dropdown
        const update_huntees = () => {
            fetch("/api/admin/users").then(async res => {
                const users = (await res.json())["users"]
                const killSelector = document.getElementById("kill-list")
                const skipSelector = document.getElementById("skip-list")
                const pointsSelector = document.getElementById("points-list")
                // Remove old options
                removeChildren(killSelector)
                removeChildren(skipSelector)
                removeChildren(pointsSelector)
                // Add new options
                users.filter(user => user["role"] === "0").forEach(user => {
                    const killOption = document.createElement("option")
                    killOption.value = user["username"]
                    killOption.text = `${user["username"]} (${user["alive"] ? "alive" : "dead"})`
                    killSelector.add(killOption)

                    if (user["alive"]) {
                        const skipOption = document.createElement("option")
                        skipOption.value = user["username"]
                        skipOption.text = user["username"]
                        skipSelector.add(skipOption)
                    }

                    if (user["team"]) {
                        const pointsOption = document.createElement("option")
                        pointsOption.value = user["username"]
                        pointsOption.text = `${user["username"]} (team ${user["team"]})`
                        pointsSelector.add(pointsOption)
                    }
                })
            })
        }
        update_huntees()

        const kill = async () => {
            const username = document.getElementById("kill-list").value
            const data = new FormData()
            data.append('username', username)
            await fetch("/api/admin/kill", {method: 'POST', body: data})
            update_huntees()
        }

        const skip_update = async () => {
            const username = document.getElementById("skip-list").value
            const data = new FormData()
            data.append('username', username)
            await fetch("/api/admin/skip", {method: 'POST', body: data})
            document.getElementById("skip-update-name").innerText = username
            document.getElementById("skip-update").classList.remove("hidden")
            setTimeout(() => {
                document.getElementById("skip-update").classList.add("hidden")
            }, 5000)
        }

        const update_interval = async () => {
            const interval = document.getElementById("interval").value
            const data = new FormData()
            data.append('interval', interval)
            await fetch("/api/admin/interval", {method: 'POST', body: data})
            document.getElementById("interval-update").classList.remove("hidden")
            setTimeout(() => {
                document.getElementById("interval-update").classList.add("hidden")
            }, 5000)
        }

        const get_teams = async () => {
            const res = await (await fetch("/api/points")).json()
            document.getElementById("teams").innerHTML = ""
            for (const team of res["teams"]) {
                document.getElementById("teams").innerHTML +=
                    `<span>Team ${team["id"]}: ${team["points"]}</span>`
            }
        }
        get_teams()

        const addPoints = async () => {
            const username = document.getElementById("points-list").value
            const points = document.getElementById("points-value").value
            const data = new FormData()
            data.append('username', username)
            data.append('points', points)
            await fetch("/api/points", {method: 'POST', body: data})
            await get_teams()
        }
    {% endif %}
</script>
</body>
</html>